[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/docter"]
	path = themes/docter
	url = https://gitlab.com/edavidaja/docter.git
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/jbub/ghostwriter
